@model CarriesFrugalLiving.Models.Review
@if (User.IsInRole("Admin") || User.IsInRole("Contributor") || User.IsInRole("Moderator") || User.IsInRole("Reviewer"))

{

  using (Html.BeginForm())
  {

    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Review</h4>
        <hr />
        <input type="hidden" id="RecipeID" name="RecipeID" value="@Model.RecipeID" />

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewerDisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewerDisplayName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewerDisplayName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TriedRecipe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TriedRecipe)
                    @Html.ValidationMessageFor(model => model.TriedRecipe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
      
        <input type="hidden" name="Rating" id="Rating"  />
        <div class="rateit" data-rateit-backingfld="#Rating" data-rateit-resetable="false"  data-rateit-ispreset="true"
                 data-rateit-min="0" data-rateit-max="5">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
  }
} else
{
    if (User.Identity.IsAuthenticated == false)
    {
        <div class="well alert alert-danger">
            You must be logged in in order to add a review. If you do not have an account please click &quot;Register&quot;. 
        </div>
    }
    else {
<div class="well alert alert-danger">
    You must be a have reviewer permission in order to create a new review. It's easy to get!<br /><br/>
    Simply click the &quot;Contact&quot; menu link at the top of the page and indicate that you would
    like to be able to review recipes. 
</div>
        }
    }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
