@{
    ViewBag.Title = "Carrie's Frugal Living";
}


<h2 class="fonttitle color-primary-0  well-lg">@ViewBag.Title</h2>
<div class="row">
    @Html.Action("Intro", "Features", new { id = 0 })
    <div class="col-sm-5 ">
        <img src="~/Images/kitchen2.png" class="flex right" alt="Jars of canned veggies" />
    </div>
    
   

</div>
<div class="row">
    <div class="panel col-sm-8">
        @Html.Action("Featured", "Features", new { id = 2 })
    </div>
    
    <aside class="aside1color asideright col-sm-4">
            <div class="panel panel-warning ">
                @Html.Action("Featured", "Features", new { id = 1 })
            </div>
    </aside>
</div>

<div class="row">
    <div class="panel  col-sm-4">
        @Html.Action("Featured", "Features", new { id = 3 })
    </div>
    <div class="panel  col-sm-8">
        @Html.Action("Featured", "Features", new { id = 4 })
    </div>
    
  

   

</div>

<div class="row">

    <div class="panel col-sm-6">
        @Html.Action("Featured", "Features", new { id = 5 })
    </div>
    <div class="panel  col-sm-6">
        @Html.Action("Featured", "Features", new { id = 6 })
    </div>

</div>