@model IEnumerable<CarriesFrugalLiving.Models.ApplicationUser>

@{
    ViewBag.Title = "User Maintenance Listing";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
           Flags
        </th>
       

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <table>
              <tr>
                 <td class="text-right">
                     Email Confirmed:
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.EmailConfirmed)
                  </td>
              </tr>
                <tr>
                    <td class="text-right">Two Factor Enabled:</td>
                    <td>@Html.DisplayFor(modelItem => item.TwoFactorEnabled)</td>
                </tr>
                <tr>
                    <td class="text-right">Locked Out Enabled:</td>
                    <td>@Html.DisplayFor(modelItem => item.LockoutEnabled)</td>
                </tr>
                <tr>
                    <td class="text-right">Access Failed Count:</td>
                    <td>@Html.DisplayFor(modelItem => item.AccessFailedCount)</td>
                </tr>

            </table>
          
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    <a href="@Url.Action("UserList", "Roles")" title="User Role Management Listing">
        <i class="glyphicon  glyphicon-registration-mark"></i>
        <span class="sr-only">Roles Management - User List</span>
        &brvbar;Roles Management - User Listing
    </a> <br />
    <a href="@Url.Action("Index", "Admin")" title="Administration Dashboard">
        <i class="glyphicon glyphicon-dashboard"></i>
        <span class="sr-only">Administration Dashboard</span>
        &brvbar;Administration Dashboard
    </a><br />

</div>
