@model IEnumerable<CarriesFrugalLiving.Models.AbuseReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbuseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbuseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    
    <a href="@Url.Action("Index", "Admin")" title="Administration Dashboard">
        <i class="glyphicon glyphicon-dashboard"></i>
        <span class="sr-only">Administration Dashboard</span>
        &brvbar;Administration Dashboard
    </a><br />
    

</div>
